<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0 p-2">
                <!-- Logs inaccesibles -->
                <div class="flex flex-col items-center justify-center p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col items-center justify-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500" *ngIf="(AlertasLog$ | async) as alertasLog">
                            {{alertasLog.length}}</div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Logs inaccesibles</div>
                    </div>
                </div>

                <!-- Logs sin transacciones -->
                <div class="flex flex-col items-center justify-center p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col items-center justify-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-yellow-500" *ngIf="(AlertasSinTransacciones$ | async) as alertasLog">
                            {{alertasLog.length}}</div>
                        <div class="text-lg font-medium text-yellow-600 dark:text-yellow-500">Logs sin transacciones</div>
                    </div>
                </div>

                <!-- Logs sin escritura -->
                <div class="flex flex-col items-center justify-center p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col items-center justify-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500" *ngIf="(AlertasSinEscritura$ | async) as alertasLog">
                            {{alertasLog.length}}</div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Logs sin escrituras</div>
                    </div>
                </div>
            </div>

            <!-- Tabs -->
            <mat-tab-group class="p-2" [animationDuration]="'0'">
                <!-- Logs inaccesibles -->
                <mat-tab label="Logs inaccesibles">
                    <ng-template matTabContent>

                        <!-- Lista de alertas -->
                        <ng-container *ngIf="(AlertasLog$ | async) as alertasLog">
                            <ng-container *ngIf="alertasLog.length > 0; else noAlertas">


                                <ng-container *ngIf="(AlertasLog$ | async) as alertasLog">


                                    <table mat-table [dataSource]="alertasLog" class="mat-elevation-z8 w-full">

                                        <!-- nombre_Aplicacion -->
                                        <ng-container matColumnDef="nombre_Aplicacion">
                                            <th mat-header-cell *matHeaderCellDef> Nombre aplicacion</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.nombre_Aplicacion}}
                                            </td>
                                        </ng-container>

                                        <!-- ip -->
                                        <ng-container matColumnDef="ip">
                                            <th mat-header-cell *matHeaderCellDef> Ip</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.ip}}
                                            </td>
                                        </ng-container>

                                        <!-- puerto -->
                                        <ng-container matColumnDef="puerto">
                                            <th mat-header-cell *matHeaderCellDef> Puerto</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.puerto}}
                                            </td>
                                        </ng-container>

                                        <!-- rutaLog -->
                                        <ng-container matColumnDef="rutaLog">
                                            <th mat-header-cell *matHeaderCellDef> Ruta log</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.rutaLog}}
                                            </td>
                                        </ng-container>

                                        <!-- error -->
                                        <ng-container matColumnDef="error">
                                            <th mat-header-cell *matHeaderCellDef> Detalle error</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.error}}
                                            </td>
                                        </ng-container>

                                        <!-- fecha -->
                                        <ng-container matColumnDef="fecha">
                                            <th mat-header-cell *matHeaderCellDef> Fecha error</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.fecha}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlertasLogs;"></tr>
                                    </table>
                                </ng-container>

                                <!-- <mat-paginator
                                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                            [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                                            [pageIndex]="pagination.page" [pageSize]="pagination.size"
                                            [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                                        </mat-paginator> -->

                            </ng-container>
                        </ng-container>

                        <ng-template #nonoAlertas>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                No existe ninguna alerta!</div>
                        </ng-template>


                    </ng-template>
                </mat-tab>


                <!-- Logs sin transacciones -->
                <mat-tab label="Logs sin transacciones">
                    <ng-template matTabContent>

                        <!-- Lista de alertas -->
                        <ng-container *ngIf="(AlertasSinTransacciones$ | async) as alertasLog">
                            <ng-container *ngIf="alertasLog.length > 0; else noAlertasSinTransacciones">


                                <ng-container *ngIf="(AlertasSinTransacciones$ | async) as alertasLog">


                                    <table mat-table [dataSource]="alertasLog" class="mat-elevation-z8 w-full">
                                        <!-- sistema -->
                                        <ng-container matColumnDef="sistema">
                                            <th mat-header-cell *matHeaderCellDef> Nombre aplicacion</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.sistema}}
                                            </td>
                                        </ng-container>

                                        <!-- ip -->
                                        <ng-container matColumnDef="descripcion">
                                            <th mat-header-cell *matHeaderCellDef> descripcion</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.descripcion}}
                                            </td>
                                        </ng-container>

                                        <!-- os -->
                                        <ng-container matColumnDef="os">
                                            <th mat-header-cell *matHeaderCellDef> os</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.os}}
                                            </td>
                                        </ng-container>

                                        <!-- pais -->
                                        <ng-container matColumnDef="pais">
                                            <th mat-header-cell *matHeaderCellDef> pais </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.pais}}
                                            </td>
                                        </ng-container>

                                        <!-- vista -->
                                        <ng-container matColumnDef="vista">
                                            <th mat-header-cell *matHeaderCellDef>vista</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.vista}}
                                            </td>
                                        </ng-container>

                                        <!-- transacciones -->
                                        <ng-container matColumnDef="transacciones">
                                            <th mat-header-cell *matHeaderCellDef> transacciones</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.transacciones}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsLogsSinTransacciones;"></tr>
                                    </table>
                                </ng-container>

                            </ng-container>
                        </ng-container>

                        <ng-template #noAlertasSinTransacciones>
                            <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                                No existe ninguna alerta de log sin transacciones</div>
                        </ng-template>


                    </ng-template>
                </mat-tab>

                <!-- Logs sin escritura -->
                <mat-tab label="Logs sin escritura">
                    <ng-template matTabContent>

                        <!-- Lista de alertas -->
                        <ng-container *ngIf="(AlertasSinEscritura$ | async) as alertasLog">
                            <ng-container *ngIf="alertasLog.length > 0; else noAlertas">

                                <ng-container *ngIf="(AlertasSinEscritura$ | async) as alertasLog">


                                    <table mat-table [dataSource]="alertasLog" class="mat-elevation-z8 w-full">

                                        <!-- nombre_Aplicacion -->
                                        <ng-container matColumnDef="nombre_Aplicacion">
                                            <th mat-header-cell *matHeaderCellDef> Nombre aplicacion</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.nombre_Aplicacion}}
                                            </td>
                                        </ng-container>

                                        <!-- host -->
                                        <ng-container matColumnDef="host">
                                            <th mat-header-cell *matHeaderCellDef> Host</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.host}}
                                            </td>
                                        </ng-container>

                                        <!-- puerto -->
                                        <ng-container matColumnDef="puerto">
                                            <th mat-header-cell *matHeaderCellDef> Puerto</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.puerto}}
                                            </td>
                                        </ng-container>

                                         <!-- rutaLog -->
                                         <ng-container matColumnDef="rutaLog">
                                            <th mat-header-cell *matHeaderCellDef> Ruta log</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.rutaLog}}
                                            </td>
                                        </ng-container>

                                        <!-- fechaUltimaEscritura -->
                                        <ng-container matColumnDef="fechaUltimaEscritura">
                                            <th mat-header-cell *matHeaderCellDef> Fecha ultima escritura</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.fechaUltimaEscritura}}
                                            </td>
                                        </ng-container>

                                        <!-- fechaUltimaEjecucion -->
                                        <ng-container matColumnDef="fechaUltimaEjecucion">
                                            <th mat-header-cell *matHeaderCellDef> Fecha ultima ejecucion</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.fechaUltimaEjecucion}}
                                            </td>
                                        </ng-container>

                                       <!-- umbral -->
                                       <ng-container matColumnDef="umbralEscritura">
                                        <th mat-header-cell *matHeaderCellDef> Umbral escritura</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.umbralEscritura}}
                                        </td>
                                    </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsLogsSinEscritura;"></tr>
                                    </table>
                                </ng-container>

                            </ng-container>
                        </ng-container>

                        <ng-template #nonoAlertas>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                No existe ninguna alerta!</div>
                        </ng-template>


                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>